@font-face{
    font-family: "segoe UI Semibold";
    src: url("../fonts/seguisb.ttf") format("ttf");
}
@font-face{
    font-family: "segoe UI";
    src: url("../fonts/segoeui.ttf") format("ttf");
}
@font-face{
    font-family: "Segoe UI";
    src: url("../fonts/Segoe\ UI\,\ Regular.ttf") format("ttf");
}
.navbar{
    border: none;
    background-color: white;
    margin-bottom: 0px;
}
.header-logo img {
    /* width: 217px; */
    /* margin-left: 50px; */
    vertical-align: top;
    max-width: 100%;
    height: auto;
    border: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-default .navbar-nav .active a {
    background-color: white;
    /* border-bottom: 3px solid #32D2C7; */
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "segoe UI Semibold";
} 
.navbar-nav {
    padding-top: 10px;
    margin-right: -65px;
}
.navbar-default .navbar-nav li a {
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    
}
.navbar-default .navbar-nav li .button {
    background-color: #00458B;
    border: none;
    color: white;
    padding: 28px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 7px;
    padding: 6px 8px;
  }
.btn-default {
    margin-right: 80px;
    margin-left: 30px;
    margin-top: 10px;
    border: none;
}
.container {
    padding: 0px;
}
.main-logo {
    background-image: url('../images/Mask\ Group\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ds-content {
    margin-top: 27px;
}
.ds-content h1 {
    background-color: #00458B;
    font-size: 60px;
    font-family: "segoe UI Semibold";
    color: #FFFFFF;
    padding: 18px 42px 18px 33px;
    opacity: 0.5;
    margin: 0px;
    
    /* margin-right: 73px; */
}
.ds-content img {
    width: 38px;
    padding-top: 39px;
    margin-left: 35px;
}
.content {
    padding-bottom: 80px;
}
.gbb-row-wrapper {
    position: relative;
    padding-top: 50px;
    padding-bottom: 150px;
}
.gbb-row {
    position: relative;
}
/* .gbb-row .bb-inner.remove_padding {
    padding: 0 !important;
} */
.row-wrapper {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}


.ds-column {
    position: relative;
}
.bg-size-default {
    position: relative;
    z-index: 1;
}
.background-layer {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 20%;
    background-image: url('../images/hands-pattern.png');
    /* background-repeat: no-repeat; */
    background-position: left center;
    background-color: #32d2c7;
}
.gbb-row .bb-inner.remove_padding {
    padding: 0 !important;

    
}
.column-style-1 {
    /* max-width: 600px; */
    float: right;
    padding: 115px 15px;
    position: relative;
}
.border-20 img {
    border: 10px solid #fff ;
}
.widget-content img {
   
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.ds img {
    position: absolute;
    border: none !important;
    right: 47px;
    bottom: 171px;
}
.column-style-2 {
    /* max-width: 600px; */
    float: left;
    padding: 120px 0px 120px 40px;
}
.bg-size-cover {
    background-size: cover;
    -webkit-background-size: cover; 
}

.column-content-inner h2 {
    font-size: 55px;
    font-family: "segoe UI Semibold";
    color: #000000;
    line-height: 63px;
    margin: 0px;
    padding-bottom: 20px;
}
.column-content-inner p {
    font-size: 17px;
    font-family: "segoe UI Semibold";
    color: #000000;
    line-height: 30px;
    padding-bottom: 20px;
}
.ds-1 {
    font-size: 15px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    line-height: 30px;
    padding-bottom: 20px;
}
.button-3 {
    font-size: 18px;
    font-weight: bolder;
    font-family: "segoe UI Semibold";
    color: #FFFFFF;
    background: #00458B;
    padding: 12px 62px 15px 62px;
    border: none;
}
.footer-content {
    background: #00458B; 
}
.footer-heading h5 {
    font-size: 29px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-top: 48px;
}
.footer-heading h6 {
    font-size: 43px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-bottom: 11px;
}
.footer-heading p {
    font-size: 15px;
    font-family: "Segoe UI";
    color: #FFFFFF;
    font-weight: 300;
}
.copy-right {
    padding-top: 65px;
    padding-bottom: 34px;
}
.ds-address {
    padding-top: 48px;
    color: #FFFFFF;
}
.ds-address p {
    margin: 0px;
    padding-left: 24px;
    padding-bottom: 15px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Segoe UI";
}
.ds-contact li {
    font-size: 15px;
    font-weight: 400;
    font-family: "Segoe UI";
    padding-bottom: 15px;
}