@font-face{
    font-family: "segoe UI Semibold";
    src: url("../fonts/seguisb.ttf") format("ttf");
}
@font-face{
    font-family: "segoe UI";
    src: url("../fonts/segoeui.ttf") format("ttf");
}
@font-face{
    font-family: "Segoe UI";
    src: url("../fonts/Segoe\ UI\,\ Regular.ttf") format("ttf");
}
.navbar{
    border: none;
    background-color: white;
    margin-bottom: 0px;
}
.header-logo img {
    width: 217px;
    /* margin-left: 50px; */
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-default .navbar-nav .active a {
    background-color: white;
    border-bottom: 3px solid #32D2C7;
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "segoe UI Semibold";
} 
.navbar-nav {
    padding-top: 10px;
    margin-right: -65px;
}
.navbar-default .navbar-nav li a {
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    text-transform: uppercase;
}
.navbar-default .navbar-nav li .button {
    background-color: #00458B;
    border: none;
    color: white;
    padding: 28px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 7px;
    padding: 6px 8px;
  }
.btn-default {
    margin-right: 80px;
    margin-left: 30px;
    margin-top: 10px;
    border: none;
}
.main-logo {
    background-image: url('../images/2681225.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   
}
.row-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.ds-content {
    /* -webkit-box-flex: 0;
    flex: 0 0 73%;
    max-width: 73%; */
    /* opacity: 0.65; */
    padding-top: 177px;
   
    
}
.ds-content h1 {
    background-color: #32D2C7;
    font-size: 58px;
    font-family: "segoe UI Semibold";
    color: #000000;
    padding: 49px 44px;
    margin: 0px;
    /* margin-left: 150px; */
    /* margin-right: 71px; */
    /* width: 672px; */
    max-width: 100%
}
/* .ds-row {
    display: flex;
    flex-wrap: wrap;
} */

/* @media screen and (min-width: 992px){
    .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
} */
.col-sm-12 {
    padding: 0px;
}
.nav-tabs {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; */
    display: flex;
    flex-flow: wrap;
    width: 100%;
    align-items: center;
    /* margin-left: -15px; */
    border: 0;
    padding-top: 105px;
    
}
.nav-tabs  li a.active {
    background: #fff;
   
    color: #00458B;
}
.nav-tabs li {
    /* -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; */
   
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

}
.nav-tabs li a {
    background: #00458B;
    font-size: 24px;
    font-family: "segoe UI Semibold";
    color: #FFFFFF;
    display: inline-block;
    width: 100%;
    padding: 20px;
}
/* .ds-description {
    padding: 0px;
    
} */
.ds-description p {
    font-size: 28px;
    font-family: "Segoe UI";
    font-weight: 400;
    color: #828690;
    padding-top: 60px;
    /* padding-left: 80px; */
    margin: 0px;
}
.button-learn {
    background: #004389;
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    border: none;
    padding: 6px 13px 10px 15px;
    /* margin-left: 80px; */
    margin-top: 10px;
    margin-bottom: 50px;
}
.ds-rectangle1{
    padding-top: 76px;
    width: 4px;
}
.ds-rectangle {
    padding-bottom: 39px;
    padding-right: 7px;
    width: 11px;
}
.ds-image  img{
    /* padding-top: 75px;
    margin-left: -70px;
    width: 417px; */
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    padding-top: 60px;
}
.ds-background {
    background: #E6E6E6;
}
/* .ds-heading {
    padding: 0px;
} */
.ds-heading h2 {
    font-size: 52px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    margin: 0px;
    /* margin-left: 30px; */
    margin-top: 26px;
    margin-bottom: 33px;
}
.ds-heading p {
    font-size: 19px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    margin: 0px;
    /* margin-left: 30px; */
    margin-bottom: 19px;
}
.row-wrapper-three {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.ds-health img {
    background: #32D2C7;
}
.ds-health p {
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    /* text-align: center; */
    padding-left: 89px;
    margin: 0px;
    padding-top: 17px;
    padding-bottom: 52px;
}
.ds1 {
    width: 200px;
    height: 200px;
    background-color: #32D2C7;
    text-align: center;
    padding-top: 54px;
    border-radius: 50%;
    margin-left: 81px;
    box-shadow: 0px 1px 6px #32d2c7;
    border: 6px solid #FFFFFF;
}
.ds2, .ds3 {
    width: 208px;
    height: 208px;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 41px;
    border-radius: 50%;
    margin-left: 93px;
}
.ds-health-image p {
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    /* text-align: center; */
    padding-left: 51px;
    padding-top: 17px;
    padding-bottom: 52px;
    margin: 0px;
}

.ds-health-image1 p {
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    /* text-align: center; */
    padding-left: 73px;
    padding-top: 17px;
    padding-bottom: 52px;
    margin: 0px;
}
.ds-caregiver h3 {
    font-size: 60px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    padding-top: 12px;
    padding-bottom: 29px;
}
.left-section {
    padding-left: 17px;
}
.glyphicon-menu-left {
    left: -59px;
    position: absolute;
    top: 23%;
    font-size: 48px;
    color: #00458B;
}
.triangle {
    position: relative;
    background-color: #FFFFFF;
    box-sizing: border-box;
    font-size: 21px;
    font-family: "segoe UI Semibold";
    padding: 47px 38px 47px 28px;
    color: #828690;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.4);
    border-left: 3px solid #00458B;
  }
.triangle::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -2em;
    left: 7%;
    box-sizing: border-box;
    
    border: 1em solid black;
    border-color: transparent transparent #FFFFFF #FFFFFF;
    
    transform-origin: 0 0;
    transform: rotate(-45deg);
    
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
} 
.tool {
    width: 46px;
    height: 46px;
   
}
.tool img {
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    background: #32D2C7;
    top: -15px;
    right: 36px;
}
.left-side img {
    float: left;
}
.left-side p {
    margin: 0px;
    padding-left: 127px;
    padding-top: 42px;
    font-size: 18px;
    font-family: "segoe UI Semibold";
    color: #828690;
}
.glyphicon-menu-right {
    right: -50px;
    position: absolute;
    top: 23%;
    font-size: 48px;
    color: #00458B;
}
.ds-dots {
    padding-bottom: 23px;
}
.triangle1 {
    position: relative;
    background-color: #FFFFFF;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "segoe UI Semibold";
    padding: 25px 12px 47px 28px;
    color: #828690;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.4);
    
  }
.triangle1::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -2em;
    left: 7%;
    box-sizing: border-box;
    
    border: 1em solid black;
    border-color: transparent transparent #FFFFFF #FFFFFF;
    
    transform-origin: 0 0;
    transform: rotate(-45deg);
    
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
} 
.tool1 {
    width: 46px;
    height: 46px;
   
}
.tool1 img {
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    background: #32D2C7;
    top: -15px;
    right: 36px;
}
.right-side img {
    float: left;
}
.right-side p {
    margin: 0px;
    padding-left: 127px;
    padding-top: 42px;
    font-size: 18px;
    font-family: "segoe UI Semibold";
    color: #828690;
}
b, strong {
    font-family: "segoe UI Semibold";
    font-size: 24px;
    color: #000000;
}
.dots-nav {
    text-align: center;
    padding-bottom: 40px;
}
.dot {
    height: 11px;
    width: 11px;
    background-color: #00458B;
    border-radius: 50%;
    display: inline-block;
}
.dot1 {
    height: 11px;
    width: 11px;
   border: 1px solid #00458B;
    border-radius: 50%;
    display: inline-block;
}
.row-wrapper-two {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.ds-hand-icon {
    background-image: url('../images/hands-pattern.png');
    background-repeat: repeat;
    background-color: #32D2C7;
}
.ds-hand-icon h4 {
    font-size: 60px;
    font-family: "segoe UI Semibold";
    color: #000000;
    margin: 0px;
    padding-top: 6px;
    padding-left: 37px;
    padding-bottom: 23px;
}
.ds-hand-icon p {
    font-size: 20px;
    font-family: "segoe UI Semibold";
    color: #000000;
    margin: 0px;
    padding-left: 37px;
    padding-bottom: 32px;
}
.button-started {
    margin-left: 37px;
    font-size: 18px;
    font-family: "segoe UI Semibold";
    color: #FFFFFF;
    background: #00458B;
    border: none;
    padding: 6px 15px 10px 14px;
    margin-bottom: 28px;
}
.hand-icon  img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.ds-hand-icon, .hand-icon {
    padding: 0px;
}
.footer-content {
    background: #00458B; 
}
.footer-heading h5 {
    font-size: 29px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-top: 48px;
}
.footer-heading h6 {
    font-size: 43px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-bottom: 11px;
}
.footer-heading p {
    font-size: 15px;
    font-family: "Segoe UI";
    color: #FFFFFF;
    font-weight: 300;
}
.copy-right {
    padding-top: 65px;
    padding-bottom: 34px;
}
.ds-address {
    padding-top: 48px;
    color: #FFFFFF;
}
.ds-address p {
    margin: 0px;
    padding-left: 24px;
    padding-bottom: 15px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Segoe UI";
}
.ds-contact li {
    font-size: 15px;
    font-weight: 400;
    font-family: "Segoe UI";
    padding-bottom: 15px;
}