@font-face{
    font-family: "segoe UI Semibold";
    src: url("../fonts/seguisb.ttf") format("ttf");
}
@font-face{
    font-family: "segoe UI";
    src: url("../fonts/segoeui.ttf") format("ttf");
}
@font-face{
    font-family: "Segoe UI";
    src: url("../fonts/Segoe\ UI\,\ Regular.ttf") format("ttf");
}
.navbar{
    border: none;
    background-color: white;
    margin-bottom: 0px;
}
.header-logo img {
    width: 217px;
    /* margin-left: 50px; */
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-default .navbar-nav .active a {
    background-color: white;
    /* border-bottom: 3px solid #32D2C7; */
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "segoe UI Semibold";
} 
.navbar-nav {
    padding-top: 10px;
    margin-right: -65px;
}
.navbar-default .navbar-nav li a {
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    
}
.navbar-default .navbar-nav li .button {
    background-color: #00458B;
    border: none;
    color: white;
    padding: 28px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 7px;
    padding: 6px 8px;
  }
.btn-default {
    margin-right: 80px;
    margin-left: 30px;
    margin-top: 10px;
    border: none;
}

.main-logo {
    background-image: url('../images/Mask\ Group\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ds-content {
    margin-top: 27px;
}
.ds-content h1 {
    background-color: #00458B;
    font-size: 60px;
    font-family: "segoe UI Semibold";
    color: #FFFFFF;
    padding: 18px 42px 18px 33px;
    opacity: 0.5;
    margin: 0px;
    
    margin-right: 73px;
}
.ds-content img {
    width: 38px;
    padding-top: 39px;
    margin-left: 35px;
    margin-bottom: 100px;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
}
.ds-quiz {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* align-items: center; */
   position: relative;
    /* justify-content: space-between; */
}
.left-section {
    padding: 0px;
    padding-bottom: 95px;
}
.left-section h3 {
    font-size: 55px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 35px;
}
.left-section p {
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    line-height: 37px;
    padding-top: 34px;
}
.quiz-links {
    list-style: none;
    padding: 0px;
    margin-left: -13px;
}
.quiz-links li a {
    text-decoration: none;
}

#label1 {
    background-color: #004389;
    color: #FFFFFF;
}
   

.radiocontainer {
   
    display: block;
    position: relative;
    padding: 10px 10px 10px 50px;
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Segoe UI";
    font-weight: 400;
    color: #000000;
    line-height: 43px;
   
}
.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 19px;
    width: 19px;
    
    border-color: #000000;
    border-radius: 50%;
}
.right-section {
    margin-top: 129px;
}
h4 {
    font-size: 22px;
    font-weight: bolder;
    font-family: "segoe UI Semibold";
    color: #00458B;
    margin-left: 17px;
   
}
.triangle {
    position: relative;
    background-color: #FFFFFF;
    box-sizing: border-box;
    font-size: 21px;
    font-family: "segoe UI Semibold";
    padding: 22px 31px 22px 21px;
    
    color: #828690;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.4);
    margin-left: 16px;
   
}
.triangle::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -2em;
    left: 11px;
    top: 76px;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #FFFFFF #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(45deg);
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
}
.ds-2 {
    margin-top: 118px;
}
.button1 {
    background: #004389;
    font-size: 17px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    border: none;
  
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 10px;
   
    float: right;
   
}
.fa-arrow-right {
    font-size: 17px;
    padding-left: 9px;
}
.footer-content {
    background: #00458B; 
}
.footer-heading h5 {
    font-size: 29px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-top: 48px;
}
.footer-heading h6 {
    font-size: 43px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-bottom: 11px;
}
.footer-heading p {
    font-size: 15px;
    font-family: "Segoe UI";
    color: #FFFFFF;
    font-weight: 300;
}
.copy-right {
    padding-top: 65px;
    padding-bottom: 34px;
}
.ds-address {
    padding-top: 48px;
    color: #FFFFFF;
}
.ds-address p {
    margin: 0px;
    padding-left: 24px;
    padding-bottom: 15px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Segoe UI";
}
.ds-contact li {
    font-size: 15px;
    font-weight: 400;
    font-family: "Segoe UI";
    padding-bottom: 15px;
}