@font-face{
    font-family: "segoe UI Semibold";
    src: url("../fonts/seguisb.ttf") format("ttf");
}
@font-face{
    font-family: "segoe UI";
    src: url("../fonts/segoeui.ttf") format("ttf");
}
@font-face{
    font-family: "Segoe UI";
    src: url("../fonts/Segoe\ UI\,\ Regular.ttf") format("ttf");
}
.navbar{
    border: none;
    background-color: white;
    margin-bottom: 0px;
}
.header-logo img {
    width: 217px;
    /* margin-left: 50px; */
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-default .navbar-nav a.active {
    background-color: white;
    border-bottom: 3px solid #32D2C7;
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "segoe UI Semibold";
} 
.navbar-nav {
    padding-top: 10px;
    margin-right: -65px;
}
.navbar-default .navbar-nav li a {
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #000000;
    
}
.navbar-default .navbar-nav li .button {
    background-color: #00458B;
    border: none;
    color: white;
    padding: 28px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: "Segoe UI";
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 7px;
    padding: 6px 8px;
  }
.btn-default {
    margin-right: 80px;
    margin-left: 30px;
    margin-top: 10px;
    border: none;
}
/* .container {
    padding: 0px;
} */
.main-logo {
    background-image: url('../images/Mask\ Group\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ds-content {
    margin-top: 27px;
}
.ds-content h1 {
    background-color: #00458B;
    font-size: 51px;
    font-family: "segoe UI Semibold";
    color: #FFFFFF;
    /* padding: 18px 42px 18px 33px; */
    padding: 16px;
    opacity: 0.5;
    margin: 0px;
}
.ds-content img {
    width: 38px;
    padding-top: 26px;
    margin-left: 35px;
    margin-bottom: 100px;
}
.hs {
    margin-top: 100px;
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background: #E6E6E6;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    font-size: 22px;
    font-family: "segoe UI Semibold";
    color: #00458B;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 12px;
    text-decoration: none;
}

.more-less {
    color: #707070;
    font-size: 16px;
    background: white;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    color: #212121;
    text-align: center;
    padding-top: 6px;
    padding-left: 1px;
}
.glyphicon-minus {
    font-size: 16px;
    background: #00458B;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 6px;
    padding-right: 2px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
    padding-left: 60px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body p {
    font-size: 18px;
    font-family: "Segoe UI";
    color: #000000;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body ul li {
    font-size: 18px;
    font-family: "Segoe UI";
    color: #000000;
    padding-bottom: 10px;
}
.demo {
padding-top: 60px;
padding-bottom: 60px;
}
.footer-content {
    background: #00458B; 
}
.footer-heading h5 {
    font-size: 29px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-top: 48px;
}
.footer-heading h6 {
    font-size: 43px;
    font-weight: 400;
    font-family: "Segoe UI";
    color: #FFFFFF;
    margin: 0px;
    padding-bottom: 11px;
}
.footer-heading p {
    font-size: 15px;
    font-family: "Segoe UI";
    color: #FFFFFF;
    font-weight: 300;
}
.copy-right {
    padding-top: 65px;
    padding-bottom: 34px;
}
.ds-address {
    padding-top: 48px;
    color: #FFFFFF;
}
.ds-address p {
    margin: 0px;
    padding-left: 24px;
    padding-bottom: 15px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Segoe UI";
}
.ds-contact li {
    font-size: 15px;
    font-weight: 400;
    font-family: "Segoe UI";
    padding-bottom: 15px;
}